<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pooja-S Disposal</ion-title>
  </ion-navbar>
  <ion-buttons end>
    <button ion-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-buttons>


</ion-header>

<ion-content>
  <ion-toolbar color="secondary">
    <ion-title>Items for Disposal</ion-title>
  </ion-toolbar>

  <!-- <ion-list>
    <button *ngFor="let item of disposalList" ion-item>{{item.itemName}}</button>
  </ion-list> -->

  <ion-list>
    <ion-item *ngFor="let item of disposalList">
      <ion-thumbnail item-start>
        <img [src]="item.disposalImage">
      </ion-thumbnail>
      <h2>{{item.itemName}}</h2>
      <p>{{item.itemDescription}}</p>
      <button ion-button clear item-end (click)="goToCreate($event,item)">View</button>
    </ion-item>
  </ion-list>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->

  <!-- <div #map id="map"></div> -->

</ion-content>