<!--
  Generated template for the CreateRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Create Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="forms-validations-content">
  <section class="form-section">
    <ion-row no-padding class="multi-input-row">
      <ion-col>
        <ion-item>
          <ion-label floating>Item Name</ion-label>
          <ion-input type="text" [(ngModel)]="disposalModel.itemName" class="form-controll" required [disabled]="isAdmin"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row no-padding class="multi-input-row">
      <ion-col>
        <ion-item>
          <ion-label floating>Item Description</ion-label>
          <ion-input type="text" [(ngModel)]="disposalModel.itemDescription" class="form-controll" required [disabled]="isAdmin"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col>
        <!-- <ion-item> -->
        <button ion-button round (click)="getImage()" *ngIf="!isAdmin">
          <!-- <ion-icon name="md-camera"></ion-icon>
          &nbsp; &nbsp;
          <h3 class="button-title"> -->
          Take Disposal Photo

          <!-- </h3> -->
        </button>
        <ion-card>
          <img [src]="imgSrc">
        </ion-card>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
    <ion-row no-padding class="multi-input-row">
      <ion-col>
        <ion-item>
          <b>Lat :</b> {{disposalModel.LatitudeCoordinate}}
          <b>Long :</b> {{disposalModel.LongitudeCoordinate}}

          <!-- <ion-label floating>{{'GeoLocation' }}</ion-label>
              <ion-input type="text" [(ngModel)]="school.geoCoordinate" required></ion-input> -->
          <button item-right clear (click)="getLocation()" [disabled]="isAdmin">
            <ion-icon tappable name="navigate" item-right></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <button ion-button round (click)="getCurrentLocation()"> Get Current Location</button>
      </ion-col>
    </ion-row> -->
  </section>
  <button ion-button full (click)="saveRequest()" *ngIf="!isAdmin">Save</button>
  <button ion-button full (click)="navigate()" *ngIf="isAdmin">Navigate</button>
  <button ion-button full (click)="completeConfirm()" *ngIf="isAdmin">Complete Request</button>
</ion-content>